:root {
  --turquoise: #00d38e;
  --forest: #193129;
  --limeGreen: #c7e995;
  --brightGreen: #01863c;
  --bg: #01120c;
  --dark-fontcolor: #01120c;
  --light-fontcolor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #01120c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: scroll; /* Change this to allow scrolling */
    overflow-x: hidden;
}



@media screen and (max-width: 1020px) {

  html {
      /* font-size: 62.5%; */
      scroll-behavior: smooth;
    }

    body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      overflow: scroll; /* Change this to allow scrolling */
      overflow-x: hidden;
    }

    .hotel {
      max-width: 100%;
      padding: 0;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }

    .text-center {
      text-align: center;
      position: relative;
      z-index: 1;
    }

    .section-heading {
      font-size: 28px;
      color: white;
      /* padding-top: 2rem ; */
    }

    .section-subheading {
      font-size: 14.5px;
      color: white;
    }

    #tranding {
      height: 584px;
      padding: 0rem 0;
    }

    .tranding-slider {
      top: 140px;
      height: 400px;
      width: 892px;
      position: relative;
    }

    .tranding-slide {
      width: 178px;
      height: 269px;
      position: relative;
      border-radius: 50%;
      user-select: none;
      -webkit-user-drag: none;
      pointer-events: none;
      transition: 0.6s ease-in-out;
    }


    .tranding-slide-img img {
      width: 178px;
      height: 167px;
      border-radius: 10%;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
      object-fit: cover;
      -webkit-user-drag: none;
    }

    .swiper-wrapper{
      height: 0px;
    }

    .view-more-icon, .view-less-btn{
      pointer-events: all;
    }

    .top-title {
      width: auto;
      text-align: center;
      color: black,;
      position: absolute;
      top: 3080px;
      left: 385px;
      z-index: 2;
    }

    .tranding-slide-content-BL {
        display: flex;
        align-items: self-start;
        color: black,;
        position: absolute;
        bottom: 64px;
        left: 25px;
        z-index: 2;
      }

    .tranding-slide-content-BR {
        width: 239px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--white);
        position: absolute;
        bottom: 34px;
        right: -87px;
        z-index: 99;
      }

      .tranding-slide-content-border{
        width: 500px;
        scale: 0.3;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--white);
        position: absolute;
        bottom: 0px;
        right: -158px;
        z-index: 2;
      }

      .nama{
        font-size: 19.6px;
      }

      .nama2 {
        color: var(--tersier);
        font-size: 19.6px;
        text-align: left;
      }

      .member {
        position: relative;
        top: 5rem;
        left: 26px;
        color: var(black);
        font-size: 7.14px;
        text-align: left;
        margin-top: 21px;
        z-index: 100;
      }

      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 101px;
        background: rgba(255, 255, 255, 1);
        z-index: 1;
      }

    .swiper-slide-active .swiper-slide-shadow-left,
    .swiper-slide-active .swiper-slide-shadow-right {
      display: none !important;
    }


      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right {
        display: block;
        border-radius: 2rem;
        position: relative;
        /* transform: translate3d(0px, 0px, -250px) !important; */
        /* z-index: 1 !important; */
      }

    .tranding-slider-control {
      top: 330px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -2;
    }

    .tranding-slider-control .swiper-button-next {
      left: 50.2% !important;
      transform: translateX(-58%) !important;
    }

    .swiper-button-next.slider-arrow,
    .swiper-button-prev.slider-arrow{
      z-index: 99 !important;
    }

    .slider-arrow {
      top: 60px;
      background: var(--tersier);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      left: 100%;
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
      z-index: 3;
    }

    .slider-arrow {
      cursor: pointer;
    }

    .tranding-slider-control .slider-arrow {
      font-size: 1.3rem;
      color: #222224;
    }

    .tranding-slider-control .slider-arrow::after {
      content: '';
    }

    .tranding-slider-control .swiper-pagination {
      position: relative;
      width: 15rem;
      bottom: 6px;
    }

    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
      background: rgb(194, 185, 185);
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    }

    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
      background: var(--white);
    }

    .tranding-slide-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: 0.8s ease;
      }

      .tranding-slide.flipped .tranding-slide-inner {
        transform: rotateY(180deg);
      }

      .tranding-slide-front,
      .tranding-slide-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 2rem;
        overflow: hidden;
      }

      .tranding-slide-back {
        background: var(--secondary);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem;
        transform: rotateY(180deg);
        z-index: 1;
      }

      .back-content{
        width: 130px;
        height: 223px;
      }

      .namablkg{
        font-size: 17px;
      }

      .deskripsi{
        font-size: 11px;
      }

      .view-more-icon {
        background: var(--tersier);
        font-size: 26px;
        color: black;
        cursor: pointer;
        position: relative;
        transition: color 0.3s;
        border-radius: 30px;
        right: 107px;
      }

      .tranding-slide:not(.swiper-slide-active) .view-more-icon{
        user-select: none;
        -webkit-user-drag: none;
        pointer-events: none;
      }

      .view-more-icon:hover {
        color: #104b10;
      }

      .view-less-btn {
        background: var(--primary);
        color: var(--white);
        border: none;
        padding: 10px 20px 10px 20px;
        margin-top: 1rem;
        border-radius: 2rem;
        cursor: pointer;
        transition: 0.3s;
        z-index: 99;
      }

      .view-less-btn:hover {
        color: black;
      }

      .pinggir-kanan{
        transform: translateY(-17px) rotate(-1.81deg) translate3d(-25px, 0px, -500px) !important;
        scale: 1.374 !important;
        z-index: -3;
      } 

      .pinggir-kiri{
        transform: translate3d(25px, 0px, -500px) translateY(-17px) rotate(4.58deg)!important;
        scale: 1.32 !important;
        z-index: -3;
      }

      .swiper-slide-prev{
        transform: translate3d(30px, 0px, -250px) translateY(30px) !important;
        scale: 1.21 !important;
        z-index: -2;
      }

      .swiper-slide-active {
        transform: translateY(55px) !important;
        scale: 1 !important;
        z-index: 3 !important;
      }

      .swiper-slide-next{
        transform: translateY(25px) rotate(2.34deg) translate3d(-30px, 0px, -250px)!important;
        scale: 1.14 !important;
        z-index: -2 !important;
      }

      /* .tranding-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next):not(.pinggir-kanan):not(.pinggir-kiri){
        margin-left: 100px;
        margin-right: 100px;
      } */

      .swiper-slide.tranding-slide:not(.swiper-slide-visible){
        opacity: 0;
      }


}
















/* TAMPILAN BUAT HP CUUUYYY */

@media screen and (max-width: 430px) {
  html {
      /* font-size: 62.5%; */
      scroll-behavior: smooth;
    }

    .hotel {
      max-width: 100%;
      padding: 0;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }

    .text-center {
      text-align: center;
      position: relative;
      z-index: 1;
    }

    .section-heading {
      font-size: 19px;
      color: white;
      /* padding-top: 2rem ; */
    }

    .section-subheading {
      font-size: 10px;
      color: white;
    }

    #tranding {
      height: 427px;
      padding: 0rem 0;
    }

    .tranding-slider {
      top: 135px;
      height: 280px;
      width: 350px;
      position: relative;
    }

    .tranding-slide {
      width: 144px;
      height: 218px;
      position: relative;
      border-radius: 10%;
      user-select: none;
      -webkit-user-drag: none;
      pointer-events: none;
      transition: 0.6s ease-in-out;
    }


    .tranding-slide-img img {
      width: 144px;
      height: 136px;
      border-radius: 5%;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
      object-fit: cover;
      -webkit-user-drag: none;
    }

    .swiper-wrapper{
      height: 0px;
    }

    .view-more-icon, .view-less-btn{
      pointer-events: all;
    }

    .top-title {
      width: auto;
      text-align: center;
      color: black,;
      position: absolute;
      top: 2665px;
      left: 135px;
      z-index: 2;
    }

    .tranding-slide-content-BL {
        display: flex;
        align-items: self-start;
        color: black,;
        position: absolute;
        bottom: 50px;
        left: 20px;
        z-index: 2;
      }

    .tranding-slide-content-BR {
        width: 239px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--white);
        position: absolute;
        bottom: 25px;
        right: -115px;
        z-index: 99;
      }

      .tranding-slide-content-border{
        width: 400px;
        scale: 0.26;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: var(--white);
        position: absolute;
        bottom: -11.5px;
        right: -121.5px;
        z-index: 2;
      }

      .nama{
        font-size: 15.51px;
      }

      .nama2 {
        color: var(--tersier);
        font-size: 15.51px;
        text-align: left;
      }

      .member {
        position: relative;
        top: 38px;
        left: 26px;
        color: var(black);
        font-size: 5.78px;
        text-align: left;
        z-index: 100;
      }

      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 82px;
        background: rgba(255, 255, 255, 1);
        z-index: 1;
      }

    .swiper-slide-active .swiper-slide-shadow-left,
    .swiper-slide-active .swiper-slide-shadow-right {
      display: none !important;
    }


      .swiper-slide-shadow-left,
      .swiper-slide-shadow-right {
        display: block;
        border-radius: 20px;
        position: relative;
        /* transform: translate3d(0px, 0px, -250px) !important; */
        /* z-index: 1 !important; */
      }

    .tranding-slider-control {
      top: 230px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -2;
    }

    .tranding-slider-control .swiper-button-next {
      left: 50.2% !important;
      transform: translateX(-58%) !important;
    }

    .swiper-button-next.slider-arrow,
    .swiper-button-prev.slider-arrow{
      z-index: 99 !important;
    }

    .slider-arrow {
      top: 55px;
      background: var(--tersier);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      left: 100%;
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
      z-index: 3;
    }

    .slider-arrow {
      cursor: pointer;
    }

    .tranding-slider-control .slider-arrow {
      font-size: 1.3rem;
      color: #222224;
    }

    .tranding-slider-control .slider-arrow::after {
      content: '';
    }

    .tranding-slider-control .swiper-pagination {
      position: relative;
      width: 15rem;
      bottom: 6px;
    }

    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
      background: rgb(194, 185, 185);
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
      scale: 0.8;
    }

    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
      background: var(--white);
      scale: 0.8;
    }

    .tranding-slide-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: 0.8s ease;
      }

      .tranding-slide.flipped .tranding-slide-inner {
        transform: rotateY(180deg);
      }

      .tranding-slide-front,
      .tranding-slide-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 20px;
        overflow: hidden;
      }

      .tranding-slide-back {
        background: var(--secondary);
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem;
        transform: rotateY(180deg);
        z-index: 1;
      }

      .back-content{
          width: 127px;
          height: 200px;
      }

      .namablkg{
        font-size: 16px;
      }

      .deskripsi{
          font-size: 9px;
      }

      .view-more-icon {
        background: var(--tersier);
        font-size: 22px;
        color: black;
        cursor: pointer;
        position: relative;
        transition: color 0.3s;
        border-radius: 30px;
        right: 120px;
      }

      .tranding-slide:not(.swiper-slide-active) .view-more-icon{
        user-select: none;
        -webkit-user-drag: none;
        pointer-events: none;
      }

      .view-more-icon:hover {
        color: #104b10;
      }

      .view-less-btn {
        background: var(--primary);
        color: var(--white);
        border: none;
        padding: 10px 20px 10px 20px;
        margin-top: 1rem;
        border-radius: 2rem;
        cursor: pointer;
        transition: 0.3s;
        z-index: 99;
      }

      .view-less-btn:hover {
        color: black;
      }

      .pinggir-kanan{
        transform: translateY(-17px) rotate(-1.81deg) translate3d(-45px, 0px, -500px) !important;
        scale: 1.374 !important;
        z-index: -3;
      } 

      .pinggir-kiri{
        transform: translate3d(55px, 0px, -500px) translateY(-17px) rotate(4.58deg)!important;
        scale: 1.32 !important;
        z-index: -3;
      }

      .swiper-slide-prev{
        transform: translate3d(80px, 0px, -250px) translateY(-6px) !important;
        scale: 1.21 !important;
        z-index: -2;
      }

      .swiper-slide-active {
        transform: translateY(10px) !important;
        scale: 1 !important;
        z-index: 3 !important;
      }

      .swiper-slide-next{
        transform: translateY(-6px) rotate(2.34deg) translate3d(-80px, 0px, -250px)!important;
        scale: 1.14 !important;
        z-index: -2 !important;
      }

      /* .tranding-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(.swiper-slide-next):not(.pinggir-kanan):not(.pinggir-kiri){
        margin-left: 100px;
        margin-right: 100px;
      } */

      .swiper-slide.tranding-slide:not(.swiper-slide-visible){
        opacity: 0;
      }
}